<main class="main">
  <div class="container">
    <form class="login-box" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <h2>Reset Password</h2>

      <label for="password">New Password</label>
      <input type="password" id="password" formControlName="password" placeholder="••••••" />
      <div class="error" *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.errors">
        <span *ngIf="resetForm.get('password')?.errors?.['required']">Password is required</span>
        <span *ngIf="resetForm.get('password')?.errors?.['minlength']">Minimum 4 characters</span>
      </div>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="••••••" />
        <div class="error" *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.hasError('passwordMismatch')">
          <span>Passwords do not match</span>
        </div>

      <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
  </div>
</main>
