<footer>
    <div class="content setWidth">
        <div class="logoIcons">
            <div class="content">
                <a routerLink="">
                    <img src="pictures/logoNovi.webp" alt="Logo" class="logo" />
                </a>
                <div class="logos">
                    <a href="#" target="_blank"><i class="bi bi-instagram" id="white"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-facebook" id="white"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-twitter-x"></i></a>
                </div>
            </div>
        </div>

        <div class="links">
            <div class="content">
                <h4>Cinemmax</h4>
                <a routerLink="aboutUs">About us</a>
                <a>Contact</a>
                <a>Working hours</a>
            </div>

            <div class="content">
                <h4>Info</h4>
                <a>FAQ</a>
                <a>Terms Of Service</a>
                <a>Privacy Policy</a>
            </div>

            <div class="content">
                <h4>Films</h4>
                <a routerLink="films/topRated">Top Films</a>
                <a routerLink="films/comingSoon">Cooming soon</a>
                <a routerLink="films/endingSoon">Expiring Soon</a>
            </div>
        </div>

        <aside class="copyright">
            <p>© 2025 Cinemmax d.o.o. All right reserved.</p>
        </aside>
    </div>
</footer>