body {
    display: flex;
}

.setWidth {
    flex: 0 0 60%;
    margin: 0 auto;
}

.seatsContainer {
    display: flex;
/*     background-color: orange; */
    flex-wrap: wrap;
}

.seatRow {
    display: flex;
    /* background-color: blue; */
    flex: 0 0 100%;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}

.seat {
    display: flex;
    flex: 0 0 6%;
    /* width: 50px; */
    height: 50px;
    border-radius: 10px;
    background-color: lightcoral;
}